{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1 class =  "text-center pt-3">un contact</h1>
<div class = "row" >
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 text-center" style = "width : 100%">
            {{include('contact/_card.html.twig', {'mode':'ficheContacts'})}}
    
        </div> 
</div>
        <a href="{{path('contacts')}}" class = "btn btn-primary text-center w-25">Revenir à la liste</a>   

{% endblock %}
